@use 'bootstrap/scss/bootstrap' as *;


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
app-root {
  display: block;
  height: 100%;
}


@font-face {
  font-family: blueScreen;
  src: url(assets/fonts/Blue\ Screen\ Personal\ Use.ttf) format("truetype");
}

@font-face {
  font-family: Computerfont;
  src: url(assets/fonts/Computerfont.ttf) format("truetype");
}

@font-face {
  font-family: SuperDream;
  src: url(assets/fonts/Super\ Dream.ttf) format("truetype");
}




